header h1 {
  font-weight: bolder;
  color: rgb(27, 58, 235);
  text-align: center;
  font-style: normal;
}

h1 {
  font-style: oblique;
  color: brown;
  text-align: right;
}

aside ul {
  list-style: none;
}

li {
  color: grey;
  font-size: 15px;
}

.Liste-un {
  color: yellow;
}

/*li:first-child {
  color: green;
  font-weight: 400;
}*/

li:last-child {
  font-weight: bold;
}

li:nth-child(3) {
  color: blueviolet;
  font-weight: bold;
  font-style: italic;
}
